@{
    ViewData["Title"] = "User List";
}

<div class="container">
    <a asp-action="Create" class="btn btn-primary">Add New User</a>
    <br /><br />
    <div class="table-responsive">
        <table id="example" class="table table-striped nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Gsm</th>
                    <th>Created Date</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": {
                    "url": "User/GetUsers",
                    "type": "POST",
                    "datatype": "json"
                },
                "processing": true,
                "serverSide": true,
                "filter": true,
                "searchDelay": 1000,
                "responsive": true,
                       "columns": [
                    { "data": "fullName", "name": "FullName", "autoWidth": true },
                    { "data": "email", "name": "Email", "autoWidth": true },
                    { "data": "gsm", "name": "Gsm", "autoWidth": true },
                    // { "data": "createdDate", "name": "CreatedDate", "autoWidth": true,
                    //     render: $.fn.dataTable.render.moment("YYYY-MM-DD")},
                    {
                        data: null,
                        autowidth: true,
                        render: function (data, type, row) {
                            return moment(data.createdDate).format("YYYY-MM-DD");
                        }
                    },
                    // { "data": "id", "name": "Id", "autoWidth": true }
                    // {
                    //     targets: -1,
                    //     data: null,
                    //     row: null,
                    //     defaultContent: '<a class="btn btn-success" href=$"/Book/Edit/{data.id}+ '">Edit</a>'
                    // },
                    {
                        data: null,
                        autowidth: true,
                        render: function (data, type, row) {
                            return '<a class="btn btn-success" href="/User/Edit/' + data.id + '">Edit</a>';
                        }
                    },
                ],
            });


            $('#example tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                $("#userDetailModel").modal("toggle");
            });
        });
    </script>
}